@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.register-cont{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-wrapper{
  background-color: #33be33;
  padding: 10px;
  color: #ffffff;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-wrapper h1{
  margin: 5px 0;
}

form{
  width: 90%;
}

form .register-input{
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.register-row{
  display: flex;
  gap: 10px;
}

.register-input label{
  font-size: 22px;
  font-weight: 500;
}

.register-input input, .register-input select{
  padding: 10px;
  font-size: 18px;
  color: #595757;
  border: 1px solid rgb(247, 240, 23);
  border-radius: 10px;
  width: 100%;

}

input:focus, select:focus{
  outline: none;
}

.register-btn{
  margin-top: 10px;
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  font-size: 24px;
  cursor: pointer;
}

form p{
  color: gray;
  padding: 3px;
  text-align: center;
}

.register-redirect{
  color: purple;
  text-decoration: underline;
}

@media (min-width: 526.5px){
  .btn-hide {
    display: none;
  }
}

@media (max-width: 525.5px){
  .category-list{
    z-index: 999;
    height: auto;
    position: relative;
    transition: left 0.3s ease;
      /* Add transition for left property */
  }
  .category-list ul{
    background-color: rgb(190 242 100);
    width: 180px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
    left: -16px;
    margin: 0;
    padding: 0;
    transition: opacity 0.5s ease, visibility 0.5s ease;
      /* Add transition for opacity and visibility */
    opacity: 1;
      /* Ensure it's fully visible by default */
    visibility: visible;
      /* Ensure it's visible by default */
  }

  .category-list ul li{
    margin: 0 !important;
    padding: 3px 10px;
  }

  .category-list-hide ul{ 
    /* display: none; */
    opacity: 0;
      /* Set opacity to 0 when hidden */
    visibility: hidden;
      /* Hide the element */
  }
}
